<%= form_for(glossary) do |f| %>
    <div>
    <%= f.label :term %><br />
    <%= f.text_field :term, autofocus: true, autocomplete: "term" %>
  </div>

  <div>
    <%= f.label :definition %><br />
    <%= f.text_field :definition, autofocus: true, autocomplete: "definition" %>
  </div>

  <div>
    <%= f.label :label_list %><br />
    <%= f.text_field :label_list %>
  </div>

  <div class="actions">
    <%= f.submit submit_text %>
  </div>
<% end %>